:root {
	--body-background-color: #EAEBED;
	--body-font-family: 'Roboto';

	--blue-sapphire: #006989;
	--dark-blue: #003F91;
	--medium-blue: #2B50AA;
	--light-blue: #5DA9E9;
	--prussian-blue: #043565;
	--button-border: #043365;
	--button-hovered: #043365;
	--button-hovered-border: #043380;
}

body {
	height: 100vh;
	background-color: var(--body-background-color);
	font-family: var(--body-font-family);
	padding: 2em 6em;
	box-sizing: border-box;
}
header {
	border-bottom: 1px solid #dee2e6;
	padding: 1em 0;
	font-size: 1.5em;
}
footer {
	padding: 2.5em 5.5em;
	background-color: var(--prussian-blue);
}
.bg-blue-sapphire {
	background-color: var(--blue-sapphire) !important;
	color: #FFF;
}
.bg-dark-blue {
	background-color: var(--dark-blue) !important;
	color: #FFF;
}
.bg-light-blue {
	background-color: var(--light-blue) !important;
	color: #FFF;
}
.bg-prussian-blue {
	background-color: var(--prussian-blue) !important;
	color: #FFF;
}
.box-infos {
	padding: 2.5em;
	margin: 1em 0;
	border-radius: 5px;
}
.box-infos h1 {
	margin: 0px 0px 0.25em 0px;
	font-size: 1.5em;
}
.box-infos p {
	margin: 0px 0px 0.25em 0px;
	font-size: 1.25em;
}
.box-infos textarea[name="velhificador"] {
	box-sizing: border-box;
	margin: 0.25em 0px;
	width: 100% !important;
	outline: 0;
	border: none;
	resize: none;
	min-height: 6em;
	height: auto;
	padding: 0.5em;
	border-radius: 3px;
	transition: box-shadow 0.4s;
}
.box-infos textarea[name="velhificador"]:focus {
	transition: box-shadow 0.4s;
	box-shadow: 0 0 3px 3px var(--light-blue);
}
.box-infos button {
	background-color: var(--prussian-blue);
	color: #FFF;
	padding: 0.75em;
	width: 100%;
	border: 1px var(--button-border) solid;
	outline: 0;
	border-radius: 3px;
	cursor: pointer;
	transition: background-color 0.3s;
	transition: box-shadow 0.4s;
}
.box-infos button:hover {
	transition: background-color 0.3s;
	background-color: var(--button-hovered);
	border: 1px var(--button-hovered-border) solid;
}
.box-infos button:focus {
	box-shadow: 0 0 3px 3px var(--medium-blue);
	transition: box-shadow 0.4s;
}
.box-infos a {
	color: var(--light-blue);
	text-decoration: none;
}
.checkbox_container {
	margin: 0 0 0.25em 0;
}
.checkbox_container input[type="checkbox"] {
	vertical-align: middle;
	position: relative;
	bottom: 1px;
}
.checkbox_container label {
	cursor: pointer;
}

/* small screen fix */
@media (max-width: 768px) {
	body {
		padding: 2em 4em;
	}
	header {
		font-size: 1.25em;
	}
	.box-infos h1 {
		font-size: 1.25em;
	}
	.box-infos p {
		font-size: 1em;
	}
}